$container-max-width: 1170px;
$container-padding: 15px;

// нейтральні
$color-neural: white;

// addition
$color-active: #5585a2;
$color-text: #262626;
$color-text-description: #b9b9b9;

// Screens
// 1920
$screen-large: 1600px;
$screen-medium: 1280px;
$screen-tablet: 1024px;
$screen-small: 720px;
$screen-xs: 480px;
// 320
